#geneSec01 {
    margin-top: 140px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 5rem;
    @media (max-width : 390px) {
        margin-bottom: 2.5rem;

    }
}

// .generalInfo01{
//     display: flex;
// }

.generalInfo01 h2 {
    font-size: 40px;
}



.textBox {
    max-width: 860px;
    height: auto;
    margin: 0 auto;
    display: flex;
    // gap: 6rem;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    box-shadow: 16px 16px 16px -12px #777777;
    border-radius: 10px;
    margin-bottom: 4rem;
    @media (max-width : 390px) {
        padding: 1rem;

    }
}

.textBox p {
    max-width: 515px;
    font-size: 20px;
    margin-top: 20px;
}

.generalInfoTextImg{
    max-width: 200px;
    @media (max-width : 800px) {
        max-width: 150px;
    }
}


.generalInfo02 h2 {
    font-size: 40px;
}

// .generalInfoBox {}


hr {
    height: 2px;
    width: 60%;
    background-color: #A4A4A4;
    border: none;
    margin: 0 auto;
}


.Sns {

    h2 {
        font-size: 40px;
        margin-top: 3rem;
        text-align: center;
        font-weight: 700;
        margin-bottom: 4rem;

        @media (max-width : 390px) {
            margin-bottom: 2rem;
    
        }

        


    }

    .SnsText {
        margin: 0 auto;
        margin-bottom: 100px;
        @media (max-width : 390px) {
            margin-bottom: 50px;
    
        }
    }

    h3 {
        width: fit-content;
        margin: 0 auto;
        font-size: 24px;
        background: linear-gradient(transparent 50%, #f1d3e5 50%);
        white-space: nowrap;

    }

    .SnsBox {
        max-width: 1000px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        gap: 3rem;
        margin-bottom: 5rem;
    }

    .facebookBox {
        width: 40%;
        // max-width: 400px;
        // min-width: 300px;
        background-color: #0F5474;
    }

    .SnsImg {
        width: 40%;
        max-width: 420px;
        min-width: 300px;
    }

    .SnsImg img {
        width: 100%;
    }
}

// レスポンシブ

@media (max-width:800px){

    
    // body{
    //     margin: 0 1rem 0 1rem;
    // }

    h1{
        font-size: 32px;
    }

    .generalInfo01 h2{
        font-size: 20px;
    }
    .generalInfo02 h2{
        font-size: 20px;
    }

    .textBox{
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .textBox p {
        font-size: 14px;
    }

    .Sns h2{
        font-size: 32px;
    }

    .SnsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Sns .facebookBox{
        width: 90%;
    }
    
    .SnsText h3{
        font-size: 18px;
    }
}