.c-form {
	max-width: 600px;
	margin: 0 auto;
}
.c-form__item {
	// display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 97px;
    padding:  0 0 1rem 0;
    border-bottom: 1px solid #929292; 

    p{
        font-size: 16px;
        display: flex;
        justify-content: end;
    }
}

.c-form__label{
    margin: 0 0 0.5rem 0;
}

.c-form__input{
    padding: 10px;
    background-color: white;
}
.c-form__label,
.c-form__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c-form__label {
	width: 100%;
}
.c-form__input {
	width: 100%;
	font-size: 16px;
	border: solid 1px #333;
}
.c-form__input:focus-visible {
	outline: black auto 1px;
}
.c-form__required {
	color: #fff;
	background-color: #A93D3D;
	border-radius: 4px;
	padding: 5px 5px;
	margin: 0 0 0 18px;
}
textarea.c-form__input {
	height: 160px;
}
.c-form__submit {
	text-align: center;
}
.c-form__submit button {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #2A417D;
	border: solid 1px #2A417D;
	border-radius: 4px;
	padding: 5px 32px;
	transition: 0.4s;
	cursor: pointer;
}
.c-form__submit button:hover {
	color: green;
	background-color: transparent;
}

@media (min-width: 640px) {
	.c-form__item {
		flex-wrap: nowrap;
	}
	.c-form__label {
		width: 100%;
	}
	.c-form__input {
		width: 100%;
	}
}
.pullDown::after{
    // position: absolute;
    // display: block;
    // content: '';
    // width: 10px;
    // height: 10px;
    // top: 50%;
    // right: 25px;
    // margin-top: -3px;
    // border-bottom: 1px solid #fff;
    // border-right: 1px solid #fff;
    // transform: rotate(45deg) translateY(-50%);
    // transition: all .4s ease-in-out;
    // transform-origin: 50% 0;
}