@use '../variable' as v;

.footer{
    height: 320px;
    background-color: v.$general;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.colorCompany{
    background-color: v.$company;
}

.colorTherapist{
    background-color: v.$therapist;
}

.footerTherapist{
    height: 320px;
    background-color: v.$therapist;
    color: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

// .footerGeneral{
//     height: 320px;
//     background-color: v.$general;
//     color: white;
//     display: flex;
//     flex-flow: column;
//     justify-content: center;
//     align-items: center;
// }

.therapistLine{
    background-color: v.$therapist;
}

.switchTherapist{
    border-color: v.$therapist;
}
