@use '../variable' as v;

#meritJoin{
    h1{
        text-align: center;
    }
    .meritBox{
        max-width: 770px;
        margin: 0 auto;
        .meritPhoto:nth-child(1){
            margin-bottom: 20px;
        }

        .meritPhoto:nth-child(2){
            margin-bottom: 175px;
            @media (max-width : 390px) {
                margin-bottom: 5rem;
            }
        }
    }
}